{
  env: {
    browser: true,
    node: true
  },

  globals: {
    React: true
  },
  plugins: [
    html
  ],
  parserOptions: {
    ecmaFeatures: {
      jsx: true
    }
  },
  extends: [
    'standard',
    'plugin:vue/essential'
  ]
}
