.root {
  display: flex;
  flex-wrap: wrap;
}

.note {
    padding: 0.5rem;
    border-radius: 0.1rem;
    border: 1px solid #ddd;
    margin: 0.5rem;
    font-size: 1.2rem;
    width: 25%;
    flex-grow: 1;
    display: inline-block;
    .name {
        text-align: center;
        font-weight: bold;
    }
}
